{% extends "_base.html" %}

{% block appbar %}
  {{ block.super }}
  <a href="{% url 'job.new' %}" class="md-surface md-button md-button-text">
    New job
  </a>
  <span class="vdivider"></span>
{% endblock %}

{% block content %}
<div class="content">

<div class="list">
{% for job in object_list %}
  <div class="single-line-list-item list-button md-surface md-real">
    <span class="first-line">{{ job.name }}</span>

    <a href="{% url 'job.view' job.pk %}"><span></span></a>
  </div>
{% empty %}
  <span>No jobs</span>
{% endfor %}
</div>

</div>
{% endblock %}
