{% extends "_base.html" %}

{% block head %}
  {% load static %}
  <script type="text/javascript" src="{% static 'joblib.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="content md-container">
<form action="{% url 'job.new' %}" method="post" enctype="multipart/form-data" class="flow-column md-surface md-container">
  {% csrf_token %}

  {{ form.errors }}

  <!-- NAME -->
  <label class="md-surface md-text-field">
    <span>Job name</span>
    <input class="md-surface md-input" type="text" name="name">
  </label>

  <!-- REDUCE IMAGE QUALITY -->
  <label class="md">
    <input type="checkbox" name="reduce_quality" checked>
    <span class="md">Reduce image quality</span>
  </label>

  <!-- BOOK STYLE -->
  <label class="md">
    <span class="md">Book style</span>
    <select name="book_style">
    {% for style in styles %}
      <option value="{{ style.name }}" {% if style.default %}selected{% endif %}>
        {{ style.name }}
      </option>
    {% endfor %}
    </select>
  </label>

  <label class="md">
    <input type="checkbox" name="enable_processing" checked>
    <span class="md">Enable additional processing for some styles</span>
  </label>

  <!-- COLLECTION SOURCE -->
  <span class="md-text md-text-caption">Collection source</span>

  <!-- ZIP SOURCE -->
  <div class="source-option">
    <input type="radio" name="collection_source" value="collection.zip" checked id="source-zip">
    <label for="source-zip">
      <span>Zipped collection</span>
      <span>Upload and render a zipped collection</span>
    </label>

    <div class="content flow-column">
      <div class="collection-zip flow-column">
        <span class="md-text md-text-caption">Collection ZIP</span>
        <input type="file" id="collection_zip" accept="application/zip" required>
      </div>
    </div>
  </div>

  <!-- LEGACY SOURCE -->
  <div class="source-option">
    <input type="radio" name="collection_source" value="legacy" id="source-legacy" disabled>
    <label for="source-legacy">
      <span>Collection on CNX Legacy</span>
      <span>Download collection from CNX Legacy</span>
    </label>
  </div>

  <!-- SUBMIT -->

  <span class="divider"></span>

  <div class="md-surface md-button-bar">
    <input id="submit" type="button" value="Create job" class="md-surface md-button md-button-text">
  </div>
</form>
</div>

<!-- UPLOAD PROGRESS -->
<div class="progress">
  <!-- steps -->
  <span class="md started">Creating new job</span>
  <span class="md">Uploading</span>
  <span class="md">Processing</span>
  <!-- indicators -->
  <div class="md progress linear indeterminate"><div></div></div>
  <span class="md text-caption detail"></span>
  <!-- error message -->
  <div class="error-message hidden"></div>
</div>
{% endblock %}
