<!doctype html>
<html class="md-light">
<head>
  <meta charset="utf-8">
  <title>
    {% block page_title %}
      {{ title }}
    {% endblock %}
  </title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'material.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header class="md-surface md-real">
    {% if user.is_authenticated %}
      <div class="title">
        {% block header_title %}
          <span class="md-text">{{ title }}</span>
        {% endblock %}
      </div>
      {% block appbar %}
        <div class="fill"></div>
      {% endblock %}
      <div class="user-info">
        <span class="md-text md-text-body">Hello, {{ user.username }}</span>
        <a href="{% url 'logout' %}" class="md-text">sign out</a>
      </div>
    {% endif %}
  </header>

  {% block content %}
  {% endblock %}
</body>
</html>
