* {
  margin: 0;
  padding: 0;
}
button,
input {
  border: none;
}
.md {
  --self-duration: var(--duration);
  --self-easing: var(--easing-standard);
  --transitions-surface: var(--self-duration) box-shadow var(--self-easing) 0s, var(--self-duration) z-index var(--self-easing) 0s;
  transition: var(--transition-surface);
}
.md-surface {
  --self-duration: var(--duration);
  --self-easing: var(--easing-standard);
  --transitions-surface: var(--self-duration) box-shadow var(--self-easing) 0s, var(--self-duration) z-index var(--self-easing) 0s;
  transition: var(--transitions-surface);
}
.md-surface.md-rounded {
  border-radius: 2px;
}
.md-surface.md-real {
  background-color: var(--color-background);
  box-shadow: 0 calc(var(--self-elevation) / 2) var(--self-elevation) calc(var(--self-elevation) / 2) var(--color-shadow);
  z-index: var(--self-elevation-index);
}
.md-container {
  display: flow-root;
}
.md-container > * {
  --margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
}
.md-container > *:not(.md-layout-ignore) {
  margin: var(--margin);
}
.md-container:not(.-md-horizontal) > * {
  --margin-top: var(--content-spacing);
  --margin-right: var(--content-padding-right);
  --margin-bottom: var(--content-spacing);
  --margin-left: var(--content-padding-left);
}
.md-container:not(.-md-horizontal) > *:first-child {
  --margin-top: var(--content-padding-top);
}
.md-container:not(.-md-horizontal) > *:last-child {
  --margin-bottom: var(--content-padding-bottom);
}
.md-container.-md-horizontal > * {
  --margin-top: var(--content-padding-top);
  --margin-right: var(--content-spacing);
  --margin-bottom: var(--content-padding-bottom);
  --margin-left: var(--content-spacing);
}
.md-container.-md-horizontal > *:first-child {
  --margin-left: var(--content-padding-left);
}
.md-container.-md-horizontal > *:last-child {
  -margin-right: var(--content-padding-right);
}
.md-container .md-container {
  --self-margin-top: var(--margin-top);
  --self-margin-right: var(--margin-right);
  --self-margin-bottom: var(--margin-bottom);
  --self-margin-left: var(--margin-left);
  --self-spacing: var(--content-spacing);
  --self-margin: var(--margin);
}
.md-layout-ignore > * {
  --margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
}
.md-layout-ignore > *:not(.md-layout-ignore) {
  margin: var(--margin);
}
button.md-surface,
input[type="button"].md-surface,
input[type="submit"].md-surface,
a.md-surface.md-button {
  text-align: center;
}
button.md-surface:hover:not(:disabled),
input[type="button"].md-surface:hover:not(:disabled),
input[type="submit"].md-surface:hover:not(:disabled),
a.md-surface.md-button:hover:not(:disabled) {
  background-color: rgba(153,153,153,0.4);
  cursor: pointer;
}
button.md-surface:disabled,
input[type="button"].md-surface:disabled,
input[type="submit"].md-surface:disabled,
a.md-surface.md-button:disabled {
  color: var(--color-text-disabled-button);
}
button.md-surface.md-button-flat,
input[type="button"].md-surface.md-button-flat,
input[type="submit"].md-surface.md-button-flat,
a.md-surface.md-button.md-button-flat {
  --self-elevation: 0px;
  --self-elevation-index: 0;
}
button.md-surface:not(.md-button-flat),
input[type="button"].md-surface:not(.md-button-flat),
input[type="submit"].md-surface:not(.md-button-flat),
a.md-surface.md-button:not(.md-button-flat) {
  --self-elevation: 2px;
  --self-elevation-index: 2;
}
button.md-surface.md-button-raised,
input[type="button"].md-surface.md-button-raised,
input[type="submit"].md-surface.md-button-raised,
a.md-surface.md-button.md-button-raised {
  --self-elevation: 2px;
  --self-elevation-index: 2;
}
button.md-surface.md-button-raised:focus,
input[type="button"].md-surface.md-button-raised:focus,
input[type="submit"].md-surface.md-button-raised:focus,
a.md-surface.md-button.md-button-raised:focus {
  --self-elevation: 8px;
  --self-elevation-index: 8;
}
button.md-surface.md-button-text,
input[type="button"].md-surface.md-button-text,
input[type="submit"].md-surface.md-button-text,
a.md-surface.md-button.md-button-text {
  height: 36px;
  margin: 8px 8px 8px 8px;
  padding: 0px 8px 0px 8px;
  border-radius: 2px;
  text-transform: uppercase;
  color: var(--color-accent);
  font-size: 13px;
}
button.md-surface.md-button-icon,
input[type="button"].md-surface.md-button-icon,
input[type="submit"].md-surface.md-button-icon,
a.md-surface.md-button.md-button-icon {
  width: 36px;
  height: 36px;
  padding: 6px;
  margin: 0;
  border-radius: 50%;
}
button.md-surface.md-button-icon >i,
input[type="button"].md-surface.md-button-icon >i,
input[type="submit"].md-surface.md-button-icon >i,
a.md-surface.md-button.md-button-icon >i {
  vertical-align: top;
}
a.md-surface.md-button {
  display: inline-block;
}
a.md-surface.md-button.md-button-text {
  text-decoration: none;
  line-height: 36px;
}
div.md-surface.md-button-bar {
  margin: 0px;
  display: flex;
  flex-direction: row-reverse;
}
div.md-surface.md-button-bar:last-child {
  margin-bottom: 8px;
}
div.md-surface.md-button-bar:not(:last-child) {
  margin-bottom: var(--margin-bottom);
}
div.md-surface.md-button-bar >.md-button {
  margin-top: 0;
  margin-bottom: 0;
}
div.md-surface.md-card {
  --self-elevation: 2px;
  --self-elevation-index: 2;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: var(--color-background-card);
}
div.md-surface.md-card >* {
  --content-padding-top: 24px;
  --content-padding-right: 16px;
  --content-padding-bottom: 24px;
  --content-padding-left: 16px;
  --content-spacing: 8px;
}
:root {
  --text-field-margin-top: 12px;
  --text-field-padding-bottom: 5px;
  --text-field-margin-bottom: 4px;
  --text-field-padding-bottom-focus: 6px;
  --text-field-margin-bottom-focus: 2px;
  --text-field-font-size: 13px;
  --text-field-label-font-size: 13px;
  --text-field-label-transform: translateY(25px);
  --text-field-label-padding: 4px;
}
label.md-text-field {
  margin-top: var(--text-field-margin-top);
  display: flow-root;
}
label.md-text-field >span:first-child {
  display: inline-block;
  interface-text: on;
  color: var(--color-text-secondary);
  font-size: var(--text-field-label-font-size);
  transition: var(--self-duration) transform var(--self-easing), var(--self-duration) color var(--self-easing);
  transform-origin: left;
}
label.md-text-field.-md-empty>span:first-child {
  transform: var(--text-field-label-transform);
}
label.md-text-field.-md-focus>span:first-child {
  color: var(--color-accent);
}
label.md-text-field >input[type="text"],
label.md-text-field >input[type="password"],
label.md-text-field >input[type="url"],
label.md-text-field >input[type="email"] {
  margin-top: var(--text-field-label-padding);
}
input.md-surface {
  min-height: initial;
  border: none;
  padding: 0;
  color: var(--color-text-primary);
  background-color: initial;
}
input.md-surface[type="text"],
input.md-surface[type="password"],
input.md-surface[type="url"],
input.md-surface[type="email"] {
  width: 100%;
  margin-top: var(--text-field-margin-top);
  padding-bottom: var(--text-field-padding-bottom);
  margin-bottom: var(--text-field-margin-bottom);
  border-bottom: 1px solid var(--self-line-color);
  font-size: var(--text-field-font-size);
  --self-line-color: var(--color-divider);
}
input.md-surface[type="text"]:invalid,
input.md-surface[type="password"]:invalid,
input.md-surface[type="url"]:invalid,
input.md-surface[type="email"]:invalid {
  --self-line-color: #f44336;
}
input.md-surface[type="text"]:focus,
input.md-surface[type="password"]:focus,
input.md-surface[type="url"]:focus,
input.md-surface[type="email"]:focus {
  padding-bottom: var(--text-field-padding-bottom-focus);
  margin-bottom: var(--text-field-margin-bottom-focus);
  border-bottom: 2px solid var(--self-line-color);
}
input.md-surface[type="text"]:focus:not(:invalid),
input.md-surface[type="password"]:focus:not(:invalid),
input.md-surface[type="url"]:focus:not(:invalid),
input.md-surface[type="email"]:focus:not(:invalid) {
  --self-line-color: var(--color-accent);
}
input.md-surface[type="text"]:disabled,
input.md-surface[type="password"]:disabled,
input.md-surface[type="url"]:disabled,
input.md-surface[type="email"]:disabled {
  border-bottom: 1px dotted var(--self-line-color);
  color: var(--color-text-disabled);
}
input.md {
  border: none;
  padding: 0;
  color: var(--color-text-primary);
  background-color: initial;
}
label.md {
  display: flow-root;
}
@derive input.md;
label.md > input[type="checkbox"],
label.md > input[type="radio"] {
  vertical-align: middle;
}
label.md > input[type="checkbox"]+ span,
label.md > input[type="radio"]+ span {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
}
label.md > span.md:first-child {
  display: inline-block;
}
div.md.progress.linear {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  margin: 4px 0px 4px 0px;
  background-color: #bbdefb;
}
div.md.progress.linear.error {
  background-color: #ffcdd2;
}
div.md.progress.linear > :first-child {
  display: block;
  position: relative;
  overflow: hidden;
  width: 0%;
  height: 100%;
  border-radius: 1px;
}
div.md.progress.linear.determinate > :first-child {
  background-color: #1976d2;
}
div.md.progress.linear.determinate.error > :first-child {
  background-color: #d32f2f;
}
div.md.progress.linear.indeterminate > :first-child {
  width: 100%;
}
div.md.progress.linear.indeterminate > :first-child::before,
div.md.progress.linear.indeterminate > :first-child::after {
  content: '';
  background-color: #1976d2;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 50%;
}
div.md.progress.linear.indeterminate > :first-child::before {
  animation: -md-indeterminate-before 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
div.md.progress.linear.indeterminate > :first-child::after {
  animation: -md-indeterminate-after 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation-delay: 1.15s;
}
div.md.progress.linear.indeterminate.error > :first-child::before,
div.md.progress.linear.indeterminate.error > :first-child::after {
  background-color: #d32f2f;
  animation-iteration-count: 1;
}
@-moz-keyframes -md-indeterminate-before {
  0% {
    left: -33%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes -md-indeterminate-before {
  0% {
    left: -33%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-o-keyframes -md-indeterminate-before {
  0% {
    left: -33%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes -md-indeterminate-before {
  0% {
    left: -33%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-moz-keyframes -md-indeterminate-after {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@-webkit-keyframes -md-indeterminate-after {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@-o-keyframes -md-indeterminate-after {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes -md-indeterminate-after {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
a.md.text-display,
p.md.text-display,
span.md.text-display {
  font-size: 34px;
  color: var(--color-text-secondary);
}
a.md.text-headline,
p.md.text-headline,
span.md.text-headline {
  font-size: 24px;
  color: var(--color-text-primary);
}
a.md.text-title,
p.md.text-title,
span.md.text-title {
  font-size: 20px;
  color: var(--color-text-primary);
}
a.md.text-subheading,
p.md.text-subheading,
span.md.text-subheading {
  font-size: 15px;
  color: var(--color-text-primary);
}
a.md.text-body,
p.md.text-body,
span.md.text-body {
  font-size: 13px;
  color: var(--color-text-primary);
}
a.md.text-caption,
p.md.text-caption,
span.md.text-caption {
  font-size: 12px;
  color: var(--color-text-secondary);
}
a.md.text-button,
p.md.text-button,
span.md.text-button {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-text-primary);
}
span.md-text.md-text-display {
  font-size: 34px;
  color: var(--color-text-secondary);
}
span.md-text.md-text-headline {
  font-size: 24px;
  color: var(--color-text-primary);
}
span.md-text.md-text-title {
  font-size: 20px;
  color: var(--color-text-primary);
}
span.md-text.md-text-subheading {
  font-size: 15px;
  color: var(--color-text-primary);
}
span.md-text.md-text-body {
  font-size: 13px;
  color: var(--color-text-primary);
}
span.md-text.md-text-caption {
  font-size: 12px;
  color: var(--color-text-secondary);
}
span.md-text.md-text-button {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-text-primary);
}
span.md-text.md-text-caption {
  margin-bottom: 2px;
}
span.md-text.md-text-caption + * {
  margin-top: 2px;
}
a.md-text {
  color: var(--color-accent);
  border: none;
  text-decoration: none;
  font-size: 13px;
}
:root {
  --easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --easing-out: cubic-bezier(0, 0, 0.2, 1);
  --easing-in: cubic-bezier(0.4, 0, 1, 1);
  --easing-sharp: cubic-bezier(0.4, 0, 0.6, 1);
}
@media (max-aspect-ratio: 1/1) {
  :root {
    --duration: 300ms;
    --duration-long: 375ms;
    --duration-enter: 225ms;
    --duration-exit: 195ms;
  }
}
@media (min-aspect-ratio: 1/1) {
  :root {
    --duration: 175ms;
    --duration-long: 200ms;
    --duration-enter: 160ms;
    --duration-exit: 150ms;
  }
}
* {
  box-sizing: border-box;
  font-family: Noto Sans, sans-serif;
}
:root.md-light {
  --color-text-primary: rgba(0,0,0,0.87);
  --color-text-secondary: rgba(0,0,0,0.54);
  --color-text-disabled: rgba(0,0,0,0.38);
  --color-text-disabled-button: rgba(0,0,0,0.26);
  --color-divider: rgba(0,0,0,0.12);
  --color-background-status: #e0e0e0;
  --color-background-toolbar: #f5f5f5;
  --color-background: #fafafa;
  --color-background-card: #fff;
  --color-shadow: rgba(51,51,51,0.4);
}
:root.md-dark {
  --color-text-primary: #fff;
  --color-text-secondary: rgba(255,255,255,0.7);
  --color-text-disabled: rgba(255,255,255,0.5);
  --color-text-disabled-button: rgba(255,255,255,0.3);
  --color-divider: rgba(255,255,255,0.12);
  --color-background-status: #000;
  --color-background-toolbar: #212121;
  --color-background: #303030;
  --color-background-card: #424242;
  --color-shadow: rgba(51,51,51,0.4);
}
body {
  color: var(--text-color-primary);
}
