@require 'material-style/colors'
@require 'material-style/mixins'

:root
  // primary-color teal '500'
  primary-color blue '700'
  accent-color purple '600'

body
  margin-top 48px + 8px
  margin-bottom 8px

body > header:first-child
  elevation 4
  height 48px
  display flex

  position fixed
  left 0
  top 0
  right 0
  padding-left calc(50vw - 42em/2)
  padding-right calc(50vw - 42em/2)

  > div.title
    line-height 48px

  > div.fill
    flex 1

  > div.user-info
    padding-top 6px
    text-align right

    > *
      display block

  > .md-surface.md-button
    margin 6px 0 6px 0
    background none

  > span.vdivider
    border-left 1px solid var(--color-divider)
    margin 8px

body > .content
  width = 42em
  padding-left = "calc(50vw - %s/2 - 16px)" % width
  padding-right = "calc(100% - %s - (50vw - %s/2) - 16px)" % (width width)

  position absolute
  left 0
  top 48px
  right 0
  bottom 0
  overflow-y auto

  content-padding 8px padding-right 8px padding-left 8px

.list
  > :not(:first-child)
    border-top 1px solid var(--color-divider)

  > .single-line-list-item
    min-height 40px
    padding-left 16px
    padding-right 16px
    line-height 40px
    font-size 13px

    > .topright-line
      float right
      color var(--color-text-secondary)
      text-align right

  > .two-line-list-item
    padding = calc((60px - 2em) / 2)
    min-height 60px
    padding padding 16px padding 16px
    position relative
    font-size 13px

    > .first-line
    > .second-line
      display block

    > .topright-line
      position absolute
      top padding
      right 16px
      color var(--color-text-secondary)
      text-align right

    > .bottomright-line
      position absolute
      bottom padding
      right 16px
      text-align right

      &:not(.md-button)
        color var(--color-text-secondary)

      &.md-button
        bottom 0
        right 8px
        margin 0

        &:not(:hover)
          background transparent

.md-surface.list-button
  elevation 0
  position relative
  background-color initial

  &:hover
    elevation 2
    cursor pointer

  > a:last-child > span
    position absolute
    left 0px
    top 0px
    width 100%
    height 100%
    z-index calc(var(--self-elevation-index) + 1)

.divify
  display block

.flow-column
  content-padding 8px 16px 8px 16px 8px

  > :not(.md-container)
    display block

span.divider
.md-container > span.divider
  border-top 1px solid var(--color-divider)
  padding var(--margin)
  margin 0
  margin-top var(--margin-top)

//
// Login page
//

div.log-in
  content-padding 8px 16px 8px 16px 8px

//
// New job
//

div.source-option
  border-top 1px solid var(--color-divider)
  padding var(--margin)
  padding-bottom 0
  margin 0 !important
  margin-top var(--margin-top) !important

  > input
    height 48px

  > label
    height 48px
    display inline-block
    vertical-align top
    padding 4px 0 0 8px

    &:hover
      cursor pointer

    > span
      display block

    > span:last-child
      font-size 12px

  > input:not(:checked) + label
  > input:not(:checked) + label
    color var(--color-text-disabled)

  > input:not(:checked) + label + div.content
    display none

  > div.content
    margin-top 8px

body > div.progress
  position absolute
  top 50vh
  left calc(50vw - 24em/2)
  right calc(100% - 24em - (50vw - 24em/2))
  padding-top 1.2em

  > span
    display block
    transition var(--self-duration) transform var(--self-easing),
               var(--self-duration) opacity var(--self-easing)

  > span:not(.detail)
    position absolute
    text-align center
    top 0
    left 0
    right 0

    &:not(.started)
      transform translateY(1em)
      opacity 0

    &.done
      transform translateY(-1em)
      opacity 0

  > .detail
    text-align right
    color var(--color-primary)
    opacity 0
    transform translateY(-1em)
    margin-top -4px

  &.step-upload > .detail
    transform translateY(0)
    opacity 1

body:not(.upload-started) > div.progress
  display none

body.upload-started
  > .content
    transition var(--self-duration) transform var(--self-easing),
               var(--self-duration) opacity var(--self-easing)
    opacity 0
    transform translateY(-16px)

//
// Job view
//

.state-started
  color gray

.state-completed
  color green['500']

.state-failed
  color red['500']

div.artifacts.list
  .type
    float right
    color var(--color-text-secondary)
    padding-right 16px

  .artifact-size
    float right
    color var(--color-text-secondary)
    min-width 4em
    text-align right

  .topright-line
    min-width 12em
